/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
	2. Remove default margin
  */
* {
	margin: 0;
}
/*
	3. Allow percentage-based heights in the application
  */
html,
body {
	height: 100%;
}
/*
	Typographic tweaks!
	4. Add accessible line-height
	5. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
	6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
	7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
	8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

:root {
	--ui-font: 'League Mono', 'supreme', 'barlow', 'iosevka', 'hk grotesk';
	--sans-font: 'standard', 'supreme', 'barlow', 'iosevka', 'hk grotesk';
	--serif-font: 'Newsreader', 'Source Serif 4', 'gambetta', 'pt serif', 'noto serif';
	--accent-font: 'standard', 'gambetta', 'pt serif', 'noto serif';
	--dark: #121212;
	--light: #f6f6f6;
	--gutter: 20px;
}

/*

possible fonts:
gothic a1
libre franklin
inter / inter display
supreme
satoshi
barlow
iosevka
hk grotesk
uncut sans
standard
linik sans


newsreader
*/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--light);
	font-family: var(--sans-font);
	font-size: 20px;
	color: var(--dark);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input {
	display: block;
	font-family: inherit;
}

button {
	cursor: pointer;
}

.distorted {
	filter: url('#distort');
}

/* Grid column utility classes */
.full-width {
	grid-column: 1 / -1;
}

.start1 {
	grid-column-start: 1;
}
.start2 {
	grid-column-start: 2;
}
.start3 {
	grid-column-start: 3;
}
.start4 {
	grid-column-start: 4;
}
.start5 {
	grid-column-start: 5;
}
.start6 {
	grid-column-start: 6;
}
.start7 {
	grid-column-start: 7;
}
.start8 {
	grid-column-start: 8;
}
.start9 {
	grid-column-start: 9;
}
.start10 {
	grid-column-start: 10;
}
.start11 {
	grid-column-start: 11;
}

.end2 {
	grid-column-end: 2;
}
.end3 {
	grid-column-end: 3;
}
.end4 {
	grid-column-end: 4;
}
.end5 {
	grid-column-end: 5;
}
.end6 {
	grid-column-end: 6;
}
.end7 {
	grid-column-end: 7;
}
.end8 {
	grid-column-end: 8;
}
.end9 {
	grid-column-end: 9;
}
.end10 {
	grid-column-end: 10;
}
.end11 {
	grid-column-end: 11;
}
.end12 {
	grid-column-end: 12;
}
